:root {
  --bg-color: #fff;
  --main-color: #070707;
  --second-color: #C9F0FF;
}

body {
  background-color: var(--bg-color);
}

.f {
  color: var(--main-color);
}
.f a {
  color: var(--second-color);
}