{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "entry",
      "corejs": 3,
      "targets": {
        "browsers": [
          "last 2 versions",
          "IE >= 9"
        ]
      }
    }]
  ],
  "plugins": [],
  "env": {}
}