<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta name="author" content="Jérémie Boulay">
    <meta name="owner" content="Jérémie Boulay">
    <meta name="location" content="Paris, FRANCE">
    <meta name="keywords" content="scribble, lab, creative developer">
    <meta name="description" content="">
    <meta name="copyright" content="© Copyright 2017 - Jérémie Boulay" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@jeremboo">
    <meta name="twitter:creator" content="@jeremboo">
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="twitter:description" content="">
    <meta name="twitter:image:src" content="">
    <!-- Facebook -->
    <!-- <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>"/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site-name" content=""/> -->
    <!-- GOOGLE + -->
    <!-- <meta itemprop="name" content="<%= htmlWebpackPlugin.options.title %>">
    <meta itemprop="description" content="">
    <meta itemprop="image" content=""> -->

    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- <link rel="icon" type="image/png" href="" /> -->
  </head>
  <body>
    <%= require('apply-loader!pug-loader!html') %>
  </body>
</html>
