@import '../_modules/base.styl';

body, html {
  background-color: white;
}

#text .character {

  .marker {
    z-index: 2;
  }

  span {
    overflow: hidden;
    background-color: white;
    font-size: 0em;
    filter: contrast(3);

    & > div {
      width: 100%;
      height: 100%;
      filter: blur(1px);
    }
  }
}

#keyboard li {
  background-color: #eee;
}

._hideTextureTool #texture-tool-wrapper {
  visibility: hidden;
}
