// INIT
mainColor = #512FF3
secondaryColor = #FD65FC
bgColor1 = #000000
bgColor2 = #0e0e0f
bgColor3 = #000000

body, html
  width: 100%;
  height: 100%;
  overflow: hidden
  background: radial-gradient(ellipse at 130% 0,bgColor1 45%,bgColor2 60%,bgColor3 120%);
  margin: 0
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif

.f
  position: fixed
  bottom: 5px
  right: 15px
  font-family: 'Arial'
  font-size: 0.7rem
  color: mainColor
  text-align: center;

  a
    font-size: 0.8rem
    color: secondaryColor
