// INIT
mainColor = #7CB518
secondaryColor = #F3DE2C
bgColor = #5C8001

body, html, #fire
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden
  background-color: bgColor
  margin: 0
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif

.f
  position: fixed
  bottom: 5px
  right: 15px
  font-family: 'Arial'
  font-size: 0.7rem
  color: mainColor
  text-align: center;

  a
    font-size: 0.8rem
    color: secondaryColor


.Fire-canvas
  position: absolute;
  top: 0;
  left: 0;
  filter: url("#goo")
