html,body {
  width : 100%;
  height : 100%;
  margin : 0;
  overflow: hidden;
  background-color: #FFBC42;
}

.f {
  color: #FDFFFC;
  font-family: 'Arial';
  font-size: 0.8em;
  position: fixed;
  top: 5px;
  right: 10px;
}

.f a {
  color: #011627;
}

.dg.main.a {
  float : left;
  margin-left : 15px;
}