:root {
  --bg-color: #D61D1D;
  --bg-color-darken: #A00E0E;
  --bg-color-2: #1D51D6;
  --bg-color-2-darken: #163B9A;
  --main-color: #1D40F3;
  --second-color: #EF8E17;
}

body {
  background-color: var(--bg-color);
  /* background: radial-gradient(ellipse at 100% 0,var(--bg-color) 0,var(--bg-color) 50%,var(--bg-color-darken) 115%); */
  background-color: var(--bg-color);
  transition: background-color 0.8s 0.25s;
}

body.twisted {
  /* background: radial-gradient(ellipse at 100% 0,var(--bg-color-2) 0,var(--bg-color-2) 50%,var(--bg-color-2-darken) 115%); */
  background-color: var(--bg-color-2);
}

body.vignette::before {
  content: '';
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(ellipse at 100% 0, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, 0.4) 115%);
}

canvas {
  /* position: relative; */
}

body.ui::after {
  content: '';
  width: 800px;
  max-width: 100%;
  height: 95%;
  position: absolute;
  background-image: url('assets/content.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  pointer-events: none;
}

.f {
  color: var(--main-color);
}
.f a {
  color: var(--second-color);
}


.texture {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  border: 2px solid black;
  width: 256px;
  opacity: 0.2;
  transition: opacity 0.2s;
  display: none;
}

.texture:hover {
  opacity: 1;
}

body.canvas .texture {
  display: block;
}