// INIT
mainColor = #9EE493
secondaryColor = #435F6F
bgColor = #173049

body, html
  width: 100%;
  height: 100%;
  overflow: hidden
  background: linear-gradient(to left, bgColor, secondaryColor 60%);
  margin: 0
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif

.f
  position: fixed
  bottom: 5px
  right: 15px
  font-family: 'Arial'
  font-size: 0.7rem
  color: mainColor
  text-align: center;

  a
    font-size: 0.8rem
    color: #B5F1F7
