// INIT
mainColor = #f4f3d2
secondaryColor = #F1515C
bgColor = #433D3A

// INIT
body, html
  position: relative;
  overflow: hidden
  width: 100%;
  height: 100%;
  background-color: bgColor
  background: radial-gradient(ellipse at center, bgColor 25%, darken(bgColor, 25%) 100%);
  margin: 0
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif

.f
  position: fixed
  bottom: 5px
  right: 15px
  font-family: 'Arial'
  font-size: 0.7rem
  color: mainColor
  text-align: center;

  a
    font-size: 0.8rem
    color: secondaryColor

center()
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

random(min,max)
  return floor(math(0, 'random')*(max - min + 1) + min)

// START
cubeSize = 50px;

.sentence {
  center();
}

.word {
  display: flex;
  justify-content: center;
}

.container{
  padding: cubeSize;
}
.cube{
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
}

.side{
  position: absolute;
  width: cubeSize;
  height: cubeSize;
  margin: -(cubeSize * 0.5);
}
.side1 { transform: translateZ(cubeSize * 0.5); }
.side2 { transform: rotateY(90deg) translateZ(cubeSize * 0.5); }
.side3 { transform: rotateY(180deg) translateZ(cubeSize * 0.5); }
.side4 { transform:rotateY(-90deg) translateZ(cubeSize * 0.5); }
.side5 { transform:rotateX(90deg) translateZ(cubeSize * 0.5); }
.side6 { transform:rotateX(-90deg) translateZ(cubeSize * 0.5); }

.letter {
  center();
  font-size: 2.1em;
  font-weight: 600;
}

for i in (0..30)
  .container:nth-child({i + 1}) .cube
    animation: rotate+i 2s infinite linear;

  keyframe-name = (rotate+i)
  rotX = 360 * random(-1, 1);
  rotY = 360 * random(-1, 1);

  if rotX == 0 && rotY == 0
      if random(-1, 1)
        rotX = -360
      else
        rotX = 360

  @keyframes {keyframe-name} {
    0% { transform: rotateX(0deg) rotateY(0deg) }
    100% { transform: rotateX((rotX)deg) rotateY((rotY)deg) }
  }
