// INIT
mainColor = #070707
secondaryColor = #C9F0FF
bgColor = #fff

body, html
  width: 100%;
  height: 100%;
  overflow: hidden
  background-color: bgColor
  margin: 0
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif

.f
  position: fixed
  bottom: 5px
  right: 15px
  font-family: 'Arial'
  font-size: 0.7rem
  color: mainColor
  text-align: center;

  a
    font-size: 0.8rem
    color: secondaryColor


ul, menu, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

._hide {
  display: none;
}

/* VIDEO */
.Video video {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%,-50%);
}

/* MENU */
.Menu {
  position: fixed;
  z-index: 2;
  top: 3%;
  right: 3%;
  /*transform: translate(0, -50%);*/
  color: white;
}

.Menu-item {
  width: 200px;
  font-size: 1.5em;
  letter-spacing: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
  transition: 0.2s;
  opacity: 0.7;
  text-transform : uppercase;
  text-align: right;
}

.Menu-item:hover {
  opacity:1;
  background-color: white;
  color: black;
}

.pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAANklEQVQYV2NkIAIwEqHGh5AiHwYGhi2EFIEtwqUIbALMKdgUoSjAZxKKf5BNwjAB3TqcCkAKAaYMBVYChd7+AAAAAElFTkSuQmCC");
  z-index: 1;
}
