@import '../_modules/base.styl';

webfont('font', '../_assets/typo/font', 300, normal, eot woff ttf);
webfont('Chalkduster', '../_assets/typo/Chalkduster/Chalkduster', 300, normal, eot woff);
webfont('Gravity-Light', '../_assets/typo/Gravity-Light/Gravity-Light', 300, normal, eot ttf);
webfont('HelveticaNeueDeskinterface', '../_assets/typo/HelveticaNeueDeskinterface-Regular/HelveticaNeue-Roman', 300, normal, eot svg ttf);
webfont('Papyrus-Condensed', '../_assets/typo/Papyrus-Condensed/Papyrus-Condensed', 300, normal, eot ttf);
webfont('SnellRoundhand', '../_assets/typo/SnellRoundhand/SnellRoundhand', 300, normal, eot ttf);
webfont('TimesNewRomanPSMT', '../_assets/typo/TimesNewRomanPSMT/TimesNewRomanPSMT', 300, normal, eot ttf);
webfont('Zapfino', '../_assets/typo/Zapfino/Zapfino', 300, normal, eot ttf);


.Helvetica
  font-family: HelveticaNeueDeskinterface !important

.Zapfino
  font-family: Zapfino !important

.Chalkduster
  font-family: Chalkduster !important

.Papyrus
  font-family: Papyrus-Condensed !important

.Gravity
  font-family: Gravity-Light !important

.Times
  font-family: TimesNewRomanPSMT !important

.SnellRoundhand
  font-family: SnellRoundhand !important
