:root {
  --bg-color: #173049;
  --main-color: #9EE493;
  --second-color: #435F6F;
}

body {
  background-color: var(--bg-color);
}

.f {
  color: var(--main-color);
}
.f a {
  color: var(--second-color);
}

.message {
  position: absolute;
  color: secondaryColor;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  bottom: 20%;
  pointer-events: none;
  opacity: 0.8;
}
