body {
  margin : 0;
  padding : 0;
  overflow: hidden;
  background-color: white;
}

.f {
  color: #332626;
  font-family: 'Arial';
  font-size: 0.8em;
  position: fixed;
  top: 5px;
  right: 10px;
}

.f a {
  color: #FB6AAB;
}