// INIT
mainColor = #0D0106
secondaryColor = #B76D68
bgColor = #2C2B3C
// #FCFAF9
// #48E5C2

body, html
  width: 100%;
  height: 100%;
  overflow: hidden
  background-color: bgColor
  margin: 0
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif

.f
  position: fixed
  bottom: 5px
  right: 15px
  font-family: 'Arial'
  font-size: 0.7rem
  color: mainColor
  text-align: center;

  a
    font-size: 0.8rem
    color: secondaryColor


// fix dat gui bug
.slider {
  width: 56% !important;
}
