// INIT
mainColor = #070707
secondaryColor = #C9F0FF
bgColor = #fff

body, html
  width: 100%;
  height: 100%;
  overflow: hidden
  background-color: bgColor
  margin: 0
  font-family: monospace;
  background: #141e30;
  background: linear-gradient(45deg, #141823 0%,#292E49 100%);
  font-weight: lighter;
  color: #FFF8F0
  // background: radial-gradient(ellipse at center, #0b8793 0%,#360033 100%);

.f
  position: fixed
  bottom: 5px
  right: 15px
  font-family: 'Arial'
  font-size: 0.7rem
  color: mainColor
  text-align: center;

span, p {
  margin: 0;
  font-size: 1.2em;
  line-height: 0.8em;
}

span {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  text-align: center;
  color: white;

  &:after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0
  }
  &:hover {
    &:after {
      opacity: 1
    }
  }

  &.purple {
    color: #D7B8F3;

    &:hover:after {
      background-color: #D7B8F3;
    }
  }
}

  a
    font-size: 0.8rem
    color: secondaryColor

#wrapper {
  width: 518px;
  height: 165px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
