ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  white-space:nowrap;
  text-overflow: ellipsis;
  border: none;
  font: inherit;
  line-height: normal;
  outline: none;
}

main = #F42B03;
darken = #ED2B05;
darken2 = #94210A;

.CanvasTextureTool {
  &-wrapper {
    position: fixed;
    top: 5vw;
    right: 0;
    max-height: 90vh;    overflow-x: visible;
    overflow-y: auto;
    padding: 8px;
  }
}

.CanvasTexture {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;

  &-hidden {
    display: none;
  }

  &-canvas {
    position: absolute;
  }

  &-window {
    position: relative;
    pointer-events: auto;
  }

  &-button {
    background-color: main;
    border-radius: 10px;
    padding: 6px 16px;
    overflow: hidden;
    font-size: 0.8em;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      background-color: darken2;
    }
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: darken;
    color: white;
    border-bottom-left-radius: 6px;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      background-color: darken2;
    }
  }
}
