
.CanvasTextureTool {

  &-wrapper {
    position: fixed;
    top: 5vw;
    right: 0;
    max-width: 20vh;
    max-height: 90vh;
    background-color: red;
    overflow: hidden;
    overflow-y: auto;
  }

  &-canvas {
    border: 1px solid red;
  }

  &-hidden {
    display: none;
  }
}
