:root {
  --bg-color: #292E49;
  --main-color: #fff;
  --second-color: #D7B8F3;
}

body {
  font-family: monospace;
  background: #141e30;
  background: linear-gradient(45deg, #141823 0%,#292E49 100%);
}

.f {
  line-height: inherit;
  color: var(--main-color);
}
.f a {
  color: var(--second-color);
}


span, p {
  margin: 0;
  font-size: 1.2em;
  line-height: 0.8em;
}

span {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  text-align: center;
  color: var(--main-color);
}

span:after {
  content: '';
  background-color: var(--main-color);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0
}
span:hover {
  &:after {
    opacity: 1
  }
}

.purple {
  color: var(--second-color);
}

span:hover:after {
  background-color: var(--second-color);
}

#wrapper {
  width: 518px;
  height: 165px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}